{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


{{block header}}
    <header>
      <div class="bg text-center">
        {{if response.title:}}
        <h1>
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>

{{end}}

<h4>{{=A('+ Create New Project', _href=URL("createProject"))}}</h4>
{{for proj in projects:}}
<h4>{{=A(proj.name, _href=URL("showImages", vars=dict(projectId=proj.id)))}}</h4>
{{pass}}
<hr>
