{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<head>
<style>
   ul#proList{list-style-position: inside}
   li.item{list-style:none; padding:5px;}
</style>
</head>

{{block header}}
    <header>
      <div class="bg text-center">
        {{if response.title:}}
        <h1>
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>

{{end}}
<body>
    <h4 class="titleStuff">{{=A('+ Create New Project', _href=URL("createProject"),_id='createProject')}}</h4>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" id="projectContainer">
        <div class="panel-heading" id="panelHeading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#renderList" style="font-weight:bold;">
                <b>Public Projects:</b> Expand/Collapse</a>
          </h4>
        </div>
        <div id="renderList" class="panel-collapse collapse in">
          <div class="panel-body"></div>
        </div>
      </div>
     {{if currUser == None:}}
      <div class="panel panel-default" style="visibility: hidden">
     {{else:}}
      <div class="panel panel-default">
     {{pass}}
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#renderList2">
            <b>Authorized and Private Projects:</b> Expand/Collapse</a>
          </h4>
        </div>
        <div id="renderList2" class="panel-collapse collapse">
          <div class="panel-body"></div>
        </div>
      </div>
{{if currUser == None:}}
      <div class="panel panel-default" style="visibility: hidden">
     {{else:}}
      <div class="panel panel-default">
     {{pass}}
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#renderList3">
            <b>Unauthorized and Private Projects:</b> Expand/Collapse</a>
          </h4>
        </div>
        <div id="renderList3" class="panel-collapse collapse">
          <div class="panel-body">.</div>
        </div>
      </div>
          {{pass}}
    </div>


</body>
<script>
    (function(){
        var ul = document.createElement('ul');
        ul.setAttribute('id','proList');
        var ul2 = document.createElement('ul');
        ul2.setAttribute('id','proList');
        var ul3 = document.createElement('ul');
        ul3.setAttribute('id','proList');

        var authArr = new Array();
        var unAuthArr = new Array();
        var pubArr = new Array();
        var authProjs = {{=XML(authorizedProjects)}};
        var authProjsIm = {{=XML(authorizedProjectsIm)}};
        var unAuthProjs = {{=XML(unAuthProjects)}};
        var unAuthProjsIm = {{=XML(unAuthProjectsIm)}};
        var pubProjs = {{=XML(pubProjects)}};
        var pubProjsIm = {{=XML(pubProjectsIm)}};
        var applicationName = {{=XML(appName)}};
        for (var item in authProjs) {
            var outStr = '<a href="/' + applicationName+ '/default/showImages?projectId='+item+'">'+authProjs[item]+'</a>';
            var image = '<a href="/' + applicationName+ '/default/showImages?projectId='+item+'">'+'<img style="max-height: 200px; max-width: 200px" src='+authProjsIm[item] +'/> </a>';
            authArr.push(outStr);
            authArr.push(image);
        }
        for (var item in unAuthProjs) {
            var outStr = '<a href="/' + applicationName+ '/default/showImages?projectId='+item+'">'+unAuthProjs[item]+'</a>';
            var image = '<a href="/' + applicationName+ '/default/showImages?projectId='+item+'">'+'<img style="max-height: 200px; max-width: 200px" src='+unAuthProjsIm[item] +'/> </a>';
            unAuthArr.push(outStr);
            unAuthArr.push(image);
        }
        for (var item in pubProjs) {
            var outStr = '<a href="/' + applicationName+ '/default/showImages?projectId='+item+'">'+pubProjs[item]+'</a>';
            var image = '<a href="/' + applicationName+ '/default/showImages?projectId='+item+'">'+'<img style="max-height: 200px; max-width: 200px" src='+pubProjsIm[item] +'/> </a>';
            pubArr.push(outStr);
            pubArr.push(image);
        }
        document.getElementById('renderList').appendChild(ul);
        document.getElementById('renderList2').appendChild(ul2);
        document.getElementById('renderList3').appendChild(ul3);
        unAuthArr.forEach(renderProductList3);
        authArr.forEach(renderProductList2);
        pubArr.forEach(renderProductList);

        function renderProductList(element, index, arr) {
            var li = document.createElement('li');
            li.setAttribute('class','item');

            ul.appendChild(li);

            t = document.createTextNode(element);

            li.innerHTML=li.innerHTML + element;
        }
    function renderProductList2(element, index, arr) {
            var li = document.createElement('li');
            li.setAttribute('class','item');

            ul2.appendChild(li);

            t = document.createTextNode(element);

            li.innerHTML=li.innerHTML + element;
        }
    function renderProductList3(element, index, arr) {
            var li = document.createElement('li');
            li.setAttribute('class','item');

            ul3.appendChild(li);

            t = document.createTextNode(element);

            li.innerHTML=li.innerHTML + element;
        }
    })();
</script>
<!--
{{for proj in projects:}}
<h4>{{=A(proj.name, _href=URL("showImages", vars=dict(projectId=proj.id)))}}</h4>
{{pass}} -->

<hr>
