{{extend 'layout.html'}}
{{if image is not None:}}
<h1>Image:{{=count}} {{=image.title}}</h1>
{{else:}}
    <h1>Image not set</h1>
{{pass}}
{{=A('Upload',  _href=URL("create",vars=dict(num=num, projectId=projectId)))}}
<div class="tools">
  <input type="color" id="brushColor" onchange="changeColor(this.value)">
  <input type="range" value="5"; id="brushSize" min="1" max="25" onchange="changeBrushSize(this.value)">
  <a href="#canvas" data-tool="marker" data-size="5">Brush</a>
  <a href="#canvas" data-tool="eraser">Eraser</a>
  <a href="#canvas" data-download="png" style="float: right; width: 100px;">Download</a>
  <button onclick ="downloadPicture()">Click me to download the picture with background!</button>

</div>
{{if image is not None:}}
    <canvas id="canvas" width="800" height="300" style="background: url({{=URL('download', args=image.file)}}) no-repeat center center;"></canvas>
	<img id ="myImg" src ="{{=URL('download', args=image.file)}}" style="display:none;" >

{{else:}}
    <canvas id="canvas" width="800" height="300" style="border: 1px black solid"></canvas>
{{pass}}



 <script type="text/javascript">
 	
	function downloadPicture(){
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		ctx.globalCompositeOperation = "destination-over";
		var img = document.getElementById("myImg");
		ctx.drawImage(img);	
		$('#canvas').sketch().download("png");
	}
		
		
    function changeBrushSize(val){
        //console.log(val);
        $('#canvas').sketch().set('size',val);

    }
    function changeColor(val){
        //console.log(val);
        $('#canvas').sketch().set('color',val);

    }
    $(document).ready(function () {
        $('#canvas').sketch();// INITIALIZATION DO NOT REMOVE
		
		
     });
	 
	
</script>
