#container {
    display:block;
    padding: 0;
    margin: 0;
    /*overflow: auto;*/
}

.drag{
    display: block;
}
.drop{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px;
    background: #515151;
    position: relative;
}

img {
    vertical-align: baseline;
}

#canvas{
	background-size: contain;
	background-repeat: no-repeat;
    background-size: 800px 800px;
}

.bordered{
	border: 3px solid black;
}



.item{
	font-family: monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-decoration:underline;
}

li a img{
	border: 3px solid black;
}

.titleStuff{
    font-family: monospace;
	font-weight:bold !important;
	font-size:25px !important;
	font-style:italic;
}

h4 a{
font-size: 14px;
}

center a{
    font-family: monospace;
	
}

div b a #brushTool{
    font-family: monospace !important;
	font-weight:bold !important;
	font-size:25px !important;
	font-style:italic;    
}

div .tools{
    font-size:15px !important;
}

body{
background: rgba(235,233,249,1);
background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 36%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%)!important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(36%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)))!important;
background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 36%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%)!important;
background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 36%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%)!important;
background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 36%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%)!important;
background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 36%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 )!important;
}

a #uploadTitle{
    font-family: cursive;
}

div #projectContainer{
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 20px inset #00ffea;
}


